.order{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    gap: 2rem;
    color: var(--black-color);
}
@media (width<=1024px) {
    .order{
        flex-direction: column;
    }
}
.place-order{
    border: 1px solid var(--black-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
    background: var(--white-color);
    & p{
        color: var(--black-color);
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
}
input{
    border-radius: .1rem;
    padding: .4rem .5rem;
    width: 15rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    gap: 1rem;
}
.right{
    display: grid;
    place-items: center;
    width: 100%;
}
.fields{
    display: flex;
    gap: 1rem;
}
@media (width<=1024px) {
    .fields{
        flex-direction: column;
    }
}
.buy{
    position: absolute;
    z-index: 50;
    height: 23.9rem;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    background: white;
    width: 80%;
    display: grid;
    display: none;
    margin-left: 10%;
    gap: 1rem;
    color: var(--black-color);
    animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    & h2{
        font-size: 1.4rem;
        font-weight: bolder;
        display: flex;
        width: 100%;
        padding: 1rem 2rem;
        justify-content: space-between;
    }
    span{
        font-size: 1.8rem;
        font-weight: bolder;
    }
}
.buy-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}