.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 25px 15px;
    border-right: 1px solid var(--black-color);
    color: var(--black-color);
    .top{
        margin-top: 3.9rem;
    }
}
.sidebar img {
    width: 20px;
}

.sidebar .menu {
    background: white;
    height: 2.1rem;
    width: 2.1rem;
    padding: .1rem;
    border-radius: 50%;
    display: block;
    margin-left: 10px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.sidebar .new-chat {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 2s;
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}

.sidebar .recent-entry:hover {
    background-color: #e2e6eb;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
    & p{
        color: var(--black-color);
        &:hover{
            color: black;
        }
    }
    & img{
        background: white;
        width: 2.3rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
}

.sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
}
@media (max-width:600px) {
    .sidebar{
        display: none;
    }
}