*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
*::selection{
  background-color: rgba(172, 255, 47, 0.383);
}
body{
  width: 100%;
  background: var(--white-color);
  font-family: sans-serif;
}
html{
  scroll-behavior: smooth;
}

:root{
  --primary-color:green;
  --theme-color:pink;
  --hover-color:rgb(16, 16, 234);
  --section-bg-color:rgba(33, 33, 212, 0.323);
  --black-color:black;
  --white-color:#fff;
  --heart-color:red;
  --border-color:white;
  --txt-color:white;
  --special-color:rgba(78, 169, 230, 0.09);
  --links-color:rgb(87, 86, 86);
  --greeting-color:red;
  --add-btn-color:rgb(187, 42, 210);
  --footer-color:black;
  --card-bg:rgba(222, 220, 220, 0.989);
}
.dark-mode{
  --black-color:white;
  --white-color:#202020;
  --links-color: white;
  --border-color:grey;
  --special-color:rgb(223, 236, 239);
  --card-bg:#333333;
}
.btn-class
{
  text-align: center;
  background: var(--primary-color);
  font-size: 1rem;
  padding: .5rem 1.4rem;
  border: none;
  color: white;
  border-radius: 5px;
  transition: all .2s linear;
}
.btn-class:hover{
  scale: 1.01;
  opacity:0.9;
}