.blog-menu {
    margin-left: 1.4rem;
    margin-top: 18rem;
    color: var(--grey-color);
    font-size: 1rem;
}

.blog-display {
    padding: 1rem;
    border-radius: 5px;
    background-color: transparent;
    color: var(--black-color);
}

.blog-dishes-head {
    font-size: 1.5rem;
    color: var(--black-color);
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.blog-item {
    width: calc(33.33% - 1rem);
    background: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    transition: transform 0.2s ease;
}

.blog-item:hover {
    transform: scale(1.05);
}

.blog-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-content {
    padding: 1rem;
}

.blog-title {
    font-size: 1.25rem;
    color: var(--black-color);
}

.blog-author {
    font-size: 0.875rem;
    color: var(--grey-color);
    margin: 0.5rem 0;
}

.blog-text {
    font-size: 1rem;
    color: var(--black-color);
    margin-bottom: 1rem;
}

.read-more {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
